
#news_cont {
	height:20em;
	overflow:scroll;
}
.profile-image {
	border-radius:10px;
	width:220px;
	border-color:#777777;
	border-width:1px;
	border-style:solid;
}
.header-icon {
	width:25px;
	height:25px;
	padding-right:5px;
	display: inline-block;
}
.header-small-icon {
	width:15px;
	height:15px;
	padding-right:2px;
	display: inline-block;
}
.profile-name {
	font-variant: small-caps;
}
.link {
	padding-right: 5px;
}
.pages {
	position: relative;
}
.page {
	position: absolute;
	top: 0;
}

.whitespace {
	height: 100px;
	width: 100%;
}
.section {
	font-variant: small-caps;
	margin-left: 10px;
}
.date {
	font-weight: bold;
}
.selected {
	

}
.navigate {
	margin-left:10px;
	margin-right:10px;
	padding-left:10px;
	padding-right:10px;
}

.navigate a {
	text-decoration: none;
}
.navigate.selected a {
	color: #FF9933;
}
.navigate.unselected a {
	color:black;

}
.navigate.unselected a:hover {
	color:#0099FF;

}
.travel.entries {
	overflow: scroll;
	height:300px;
}
.travel.entry {
	overflow: scroll;
	padding-bottom:10px;
}
.travel.title {
	display:block;
	font-weight: bold;
}
.travel.place {
	display:block;
	font-weight: italic;
}
.travel.description {
	display:block;
}
.news.title {
	display:block-inline;
	font-weight: bold;
}
.news.date {
	display:block;
	font-weight: normal;
}
.news.entry {
	padding-top:5px;
	padding-bottom:5px;
}
.news.text {
}
.pub.title {
	display:block;
	font-weight: bold;
}
.pub.author {
	display:block;
}
.pub.entry {
	padding-top:5px;
	padding-bottom:5px;
}
