
.profile-image {
	border-radius:10px;
	width:200px;
	border-color:#777777;
	border-width:1px;
	border-style:solid;
}
.profile-name {
	font-variant: small-caps;
}
.pages {
	position: relative;
}
.page {
	position: absolute;
	top: 0;
}

.section {
	font-variant: small-caps;
	margin-left: 10px;
}
.selected {
	

}
.navigate.selected {
	color: #FF9933;
}
.navigate.unselected{
	color:black;

}
.navigate.unselected:hover{
	color:#0099FF;

}

.pub.title {
	width:100%;
	font-weight: bold;
}
.pub.author {
	width:100%;
}
