RewriteEngine on
RewriteBase DIR

SSLOptions +OptRenegotiate +StdEnvVars
SSLVerifyClient require
SSLVerifyDepth 3

SSLRequire %{SSL_CLIENT_S_DN_O} == "MIT Computer Science & Artificial Intelligence Laboratory"

RewriteCond          %{REMOTE_ADDR} !^128\.(3[01]|52)\.[0-9]+\.[0-9]+$
RewriteCond          %{REMOTE_ADDR} !^18\.26\.[0-9]+\.[0-9]+$
RewriteCond          %{HTTPS} !=on


RewriteRule (.*) WEBSITE

